body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Estilo para los botones de las opciones */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }